@model RVAS.Models.Match
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <h2> @Model.AwayTeam.Id </h2>
        <h2> @Model.HomeTeam.Id </h2>

        





    </div>
</body>
</html>
