@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SOCCER SCORES</h1>
    <p class="lead">Leading score tracker.</p>
</div>
<div class="jumbotron">
    <p class="lead">Login to track your favourite soccer league!</p>
</div>

<div class="row">
    
</div>